@charset "UTF-8";

/* reset */
* {margin: 0; padding: 0; line-height: 1; font-family: 'Raleway', sans-serif;}
a {text-decoration: none; color: inherit;}
li {list-style: none;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

/* layout */
#wrap {position: relative; margin: 0 auto; width: 1920px;}
#header, .main, .info, .service, .banner, .portfolio , .video, .team, #footer {position: absolute; left: 0; width: 100%;}
.main, .info, .service, .banner, .portfolio , .video, .team {text-align: center;}
h3 {text-indent: -99999px; height: 0;}

/* header */
#header {z-index: 1; top: 0; height: 85px;}
#header > a > h1 {float: left; margin: 19px 0 19px 386px; text-indent: -9999px; width: 47px; height: 47px; background: url(../img/logo.png) no-repeat;}
#header .menu {float: right; padding: 29px 386px 29px 0; width: 34px; height: 26px;}

/* .main */
#article_wrap .main {top: 0; height: 800px; background: url(../img/img_main.jpg) no-repeat center; background-size: 100%;}
#article_wrap .main > h4, p { font-weight: normal; color: #fff;}
#article_wrap .main > h4 {margin-top: 352px; font-size: 20px; letter-spacing: 16px; text-shadow: 0 0 10px rgba(0,0,0,1);}
#article_wrap .main > p {margin-top: 37px; font-size: 13px; letter-spacing: 5.2px; text-shadow: 0 0 10px rgba(0,0,0,1);}
#article_wrap .main > span {margin-top: 37px; display: inline-block; width: 170px; height: 45px; background: #ffe500;}
#article_wrap .main > span > a {margin-left: 2px; height: 45px; line-height: 45px; font-size: 10px; letter-spacing: 4px; font-weight: bold; color: #1b1b1b;}
#article_wrap .main > a > img {margin: 253px 946.5px 0 946.5px; width:27px; height: 14px; display: block;}

/* .info */
#article_wrap .info {top: 800px; height: 640px; background: #fff;}
#article_wrap .info > img {margin-top: 165px;}
#article_wrap .info > p {margin: 92px 665px 0 665px; width: 590px; font-size: 15px; letter-spacing: 0.75px; line-height: 32px; font-weight: normal; color: #707070;}

/* .service */
#article_wrap .service {top: 1440px; height: 956px; background: #f4f4f4;}
#article_wrap .service > img {margin-top: 85px;}
#article_wrap .service > h4 {margin-top: 35px;  font-size: 20px; letter-spacing: 16px; font-weight: normal; color: #1b1b1b;}
#article_wrap .service > p {margin: 41px 575px 0 575px; width: 770px; font-size: 15px; letter-spacing: 0.75px; line-height: 32px; font-weight: normal; color: #707070;}

#article_wrap .service .service_li_wrap {margin: 86px 375px 0 375px; width: 1170px; height: 350px;}
#article_wrap .service .service_li_wrap > li {float: left; margin-left: 30px; width: 270px; height: 350px; box-shadow: 0 0 10px 0 rgba(37, 39, 42, 0.1); background: #fff;}
#article_wrap .service .service_li_wrap > li:nth-child(1) {margin: 0;}
#article_wrap .service .service_li_wrap > li > a {display: block; width: 270px; height: 350px;}
#article_wrap .service .service_li_wrap > li > a > img {margin-bottom: 36px;}
#article_wrap .service .service_li_wrap > li:nth-child(1) > a > img {margin-top: 37px;}
#article_wrap .service .service_li_wrap > li:nth-child(2) > a > img {margin-top: 32px;}
#article_wrap .service .service_li_wrap > li:nth-child(3) > a > img {margin-top: 47px;}
#article_wrap .service .service_li_wrap > li:nth-child(4) > a > img {margin-top: 34px;}
#article_wrap .service .service_li_wrap > li > a > h5 { font-size: 15px; letter-spacing: 6px; line-height: 24px; font-weight: 500; color: #1b1b1b;}
#article_wrap .service .service_li_wrap > li > a > p {margin: 20px 29px 0 29px; width: 212px; font-size: 12px; letter-spacing: 0.6px; line-height: 24px; font-weight: normal; color: #707070;}

#article_wrap .service .skill_li_wrap {margin: 27px 375px 0 375px; width: 1170px; height: 165px;}
#article_wrap .service .skill_li_wrap > li {float: left; margin-left: 30px; width: 270px; height: 165px; box-shadow: 0 0 10px 0 rgba(37, 39, 42, 0.1);}
#article_wrap .service .skill_li_wrap > li:nth-child(1) {margin: 0; background: url(../img/img_graphicdesign.jpg) no-repeat center; background-size: 100%;}
#article_wrap .service .skill_li_wrap > li:nth-child(2) {background: url(../img/img_webdesign.jpg) no-repeat center; background-size: 100%;}
#article_wrap .service .skill_li_wrap > li:nth-child(3) {background: url(../img/img_webdevelopment.jpg) no-repeat center; background-size: 100%;}
#article_wrap .service .skill_li_wrap > li:nth-child(4) {background: url(../img/img_appdevelopment.jpg) no-repeat center; background-size: 100%;}

/* .banner */
#article_wrap .banner {top: 2396px; height: 240px; background: #1a1a1a;}
#article_wrap .banner .banner_li_wrap {margin: 87px 375px 0 375px; width: 1170px; height: 70px;}
#article_wrap .banner .banner_li_wrap > li {float: left; margin-left: 30px; width: 270px; height: 70px; background: #fff;}
#article_wrap .banner .banner_li_wrap > li:nth-child(1) {margin-left: 0; background: url(../img/img_banner_01.jpg) no-repeat center; background-size: 100%;}
#article_wrap .banner .banner_li_wrap > li:nth-child(2) {background: url(../img/img_banner_02.jpg) no-repeat center; background-size: 100%;}
#article_wrap .banner .banner_li_wrap > li:nth-child(3) {background: url(../img/img_banner_03.jpg) no-repeat center; background-size: 100%;}
#article_wrap .banner .banner_li_wrap > li:nth-child(4) {background: url(../img/img_banner_04.jpg) no-repeat center; background-size: 100%;}

/* .portfolio */
#article_wrap .portfolio {top: 2636px; height: 1110px; background: #fff;}
#article_wrap .portfolio > img {margin-top: 85px;}
#article_wrap .portfolio > h4 {margin-top: 35px;  font-size: 20px; letter-spacing: 16px; font-weight: normal; color: #1b1b1b;}
#article_wrap .portfolio > p {margin: 41px 575px 0 575px; width: 770px;  font-size: 15px; letter-spacing: 0.75px; line-height: 32px; font-weight: normal; color: #707070;}

#article_wrap .portfolio .pf_menu_wrap {margin: 88px 371.5px 0 371.5px; width: 1177px;}
#article_wrap .portfolio .pf_menu_wrap .pf_menu {float: left; margin: 18px 0; width: 470px; height: 62px; border-top: 1px solid #6f6f6f; border-bottom: 1px solid #6f6f6f;}
#article_wrap .portfolio .pf_menu_wrap .pf_menu > li:nth-child(1) {float: left; margin-left: 75px; line-height: 62px;}
#article_wrap .portfolio .pf_menu_wrap .pf_menu > li:nth-child(2) {float: right; margin-right: 75px; line-height: 62px;}
#article_wrap .portfolio .pf_menu_wrap .pf_menu > li > a {font-size: 13px; letter-spacing: 2.6px; font-weight: 500; color: #1b1b1b;}
#article_wrap .portfolio .pf_menu_wrap > a {display: block; margin: 0 67px; float: left;}

#article_wrap .portfolio .pf_li_wrap {margin-top: 89px; width: 100%; height: 350px;}
#article_wrap .portfolio .pf_li_wrap > li {float: left; width: 320px; height: 100%;}
#article_wrap .portfolio .pf_li_wrap > li:nth-child(1) {background: url(../img/img_work_01.jpg) no-repeat center; background-size: 150%;}
#article_wrap .portfolio .pf_li_wrap > li:nth-child(2) {background: url(../img/img_work_02.jpg) no-repeat center; background-size: 170%;}
#article_wrap .portfolio .pf_li_wrap > li:nth-child(3) {background: url(../img/img_work_03.jpg) no-repeat center; background-size: 170%;}
#article_wrap .portfolio .pf_li_wrap > li:nth-child(4) {background: url(../img/img_work_04.jpg) no-repeat center; background-size: 150%;}
#article_wrap .portfolio .pf_li_wrap > li:nth-child(5) {background: url(../img/img_work_05.jpg) no-repeat center; background-size: 170%;}
#article_wrap .portfolio .pf_li_wrap > li:nth-child(6) {background: url(../img/img_work_06.jpg) no-repeat center; background-size: 170%;}

#article_wrap .portfolio  > span {margin-top: 86px; display: inline-block; width: 230px; height: 45px; background: #ffe500;}
#article_wrap .portfolio  > span > a  { margin-left: 2px; height: 45px; line-height: 45px; font-size: 10px; letter-spacing: 4px; font-weight: bold; color: #1b1b1b;}

/* .video */
#article_wrap .video {top: 3746px; height: 380px; background: #1a1a1a;}
#article_wrap .video span {margin-top: 151px; display: inline-block; width: 370px; height: 76px; border: 1px solid #ffe600;}
#article_wrap .video > span > a {margin-left: 6px; height: 76px; line-height: 76px; font-size: 15px; letter-spacing: 12px; font-weight: normal; color: #ffe600;}

/* .team */
#article_wrap .team {top: 4126px; height: 1617px; background: #fff;}
#article_wrap .team > img {margin-top: 82px;}
#article_wrap .team > h4 {margin-top: 35px; font-size: 20px; letter-spacing: 16px; font-weight: normal; color: #1b1b1b;}
#article_wrap .team > p {margin: 41px 575px 0 575px; width: 770px; font-size: 15px; letter-spacing: 0.75px; line-height: 32px; font-weight: normal; color: #707070;}

#article_wrap .team .team_wrap {margin: 88px 375px 0 375px; width: 1170px; height: 515px;}
#article_wrap .team .team_wrap > li {float: left; margin-left: 30px; width: 270px; height: 100%; background: #1a1a1a; box-shadow: 0 0 10px 0 rgba(37, 39, 42, 0.1);}
#article_wrap .team .team_wrap > li:nth-child(1) {background: url(../img/img_person_01.jpg) no-repeat center; background-size: 161%; background-position: top; background-color: #1a1a1a;}
#article_wrap .team .team_wrap > li:nth-child(2) {background: url(../img/img_person_02.jpg) no-repeat center; background-size: 161%; background-position: top; background-color: #1a1a1a;}
#article_wrap .team .team_wrap > li:nth-child(3) {background: url(../img/img_person_03.jpg) no-repeat center; background-size: 161%; background-position: top; background-color: #1a1a1a;}
#article_wrap .team .team_wrap > li:nth-child(4) {background: url(../img/img_person_04.jpg) no-repeat center; background-size: 100%; background-position: top; background-color: #1a1a1a;}
#article_wrap .team .team_wrap > li:nth-child(1) {margin-left: 0;}
#article_wrap .team .team_wrap > li > a {width: 100%; height: 100%;}
#article_wrap .team .team_wrap > li > a .team_name {display: block; margin-top: 290px; width: 100%; height: 60px; background: #ffe500; opacity: 0.8; line-height: 60px; font-size: 15px; letter-spacing: 6px; font-weight: 500; color: #1b1b1b;}
#article_wrap .team .team_wrap > li > a .team_info {display: block; margin-top: 0px; width: 100%; height: 165px; background: #fff;}
#article_wrap .team .team_wrap > li > a .team_info > p {padding: 22.5px 29px; width: 212px;  line-height: 24px; font-size: 12px; letter-spacing: 0.6px; font-weight: normal; color: #707070;}

#article_wrap .team .seo_wrap {position: relative; margin-top: 90px; width: 100%; height: 584px;}
#article_wrap .team .seo_wrap > li {width: 570px; height: 100%;}
#article_wrap .team .seo_wrap > li:nth-child(1) {z-index: 1; float: left; position: absolute; top: 0; left: 376px;}
#article_wrap .team .seo_wrap > li:nth-child(2) {z-index: 1; float: right; position: absolute; top: 0; right: 376px;}
#article_wrap .team .seo_wrap > li:nth-child(1) .seo1, #article_wrap .team .seo_wrap > li:nth-child(2) .seo1 {display: block; width: 100%; height: 375px; text-align: left; background: #1a1a1a;}
#article_wrap .team .seo_wrap > li:nth-child(1) .seo1 > p, #article_wrap .team .seo_wrap > li:nth-child(2) .seo1 > p {padding: 72.5px 76.5px; width: 417px; height: 230px;  font-size: 12px; line-height: 24px; letter-spacing: 0.6px; font-weight: normal; color: #fff;}
#article_wrap .team .seo_wrap > li:nth-child(1) .seo2, #article_wrap .team .seo_wrap > li:nth-child(2) .seo2 {display: block; width: 100%; height: 209px;}
#article_wrap .team .seo_wrap > li:nth-child(1) .seo2 .seo2_txt, #article_wrap .team .seo_wrap > li:nth-child(2) .seo2 .seo2_txt {width: 400px; height: 60px; font-size: 12px; line-height: 24px; letter-spacing: 0.6px; font-weight: normal; color: #707070;}
#article_wrap .team .seo_wrap > li:nth-child(1) .seo2 .seo2_txt {padding: 82px 85px 0 85px;}
#article_wrap .team .seo_wrap > li:nth-child(2) .seo2 .seo2_txt {padding: 56px 85px 0 85px;}
#article_wrap .team .seo_wrap > li:nth-child(1) .seo2 .seo2_name, #article_wrap .team .seo_wrap > li:nth-child(2) .seo2 .seo2_name {padding: 12px 0 0 85px; width: 88px; font-style: italic; font-size: 12px; line-height: 24px; letter-spacing: 0.6px; font-weight: 600; color: #1b1b1b;}
#article_wrap .team .seo_wrap > li:nth-child(3) {float: inherit; position: absolute; top: 187px; left: 0; width: 100%; height: 210px; background: #ffe500;}

/* footer */
#footer {position: absolute; top: 5743px; left: 0; height: 386px; background: #1a1a1a;}
#footer > div {float: left; height: 242px;}

#footer .foot_info {margin: 68px 35px 0 376px; width: 370px;}
#footer .foot_info > a > h1 {margin-bottom: 30px; text-indent: -9999px; width: 47px; height: 47px; background: url(../img/logo.png) no-repeat;}
#footer .foot_info > p {font-size: 12px; font-weight: normal; line-height: 2; letter-spacing: 0.6px; text-align: left; color: #fff;}
#footer .foot_info .txt {margin-bottom: 46px;}
#footer .foot_info .copyright {margin-top: 13px;}
#footer .foot_info > p > span {color: #ffe600;}

#footer .foot_nav {margin-top: 75px; width: 274px;}
#footer .foot_nav .foot_nav_wrap {}
#footer .foot_nav .foot_nav_wrap > li {float: left;}
#footer .foot_nav .foot_nav_wrap > li:nth-child(2) {margin-left: 70px;}
#footer .foot_nav .foot_nav_wrap > li > a {font-size: 15px; font-weight: normal; letter-spacing: 0.75px; text-align: left; color: #fff;}
#footer .foot_nav .foot_nav_wrap > li .foot_menu {}
#footer .foot_nav .foot_nav_wrap > li .foot_menu > li {display: block; padding-top: 22px; background: none;}
#footer .foot_nav .foot_nav_wrap > li .foot_menu > li > a {font-size: 12px; font-weight: normal; letter-spacing: 0.6px; text-align: left; color: #fff;}

#footer .foot_contact {margin: 75px 0 0 129px; width: 370px;}
#footer .foot_contact .foot_contact_wrap > li > a {display: block; margin-bottom: 20px; font-size: 15px; font-weight: normal; line-height: 1; letter-spacing: 0.75px; color: #fff;}
#footer .foot_contact .foot_contact_wrap > li > p {margin-bottom: 38px; font-size: 12px; font-weight: normal; line-height: 2; letter-spacing: 0.6px; text-align: left; color: #fff;}
#footer .foot_contact .foot_contact_wrap > li > span {display: block; margin-bottom: 40px; width: 370px; height: 45px; text-align: center; background: #ffe500; border-radius: 25px;}
#footer .foot_contact .foot_contact_wrap > li > span > a {display: block; width: 370px; height: 45px; line-height: 45px; font-family: 'Roboto', sans-serif; font-size: 13px; font-weight: normal;}
#footer .foot_contact .foot_contact_wrap > li .sns {margin: 0 auto; width: 173px;}
#footer .foot_contact .foot_contact_wrap > li .sns > li {float: left; margin-left: 11px; background: none;}
#footer .foot_contact .foot_contact_wrap > li .sns > li:nth-child(1) {margin-left: 0;}
