/* reset */
html, body {width: 100%; height: 100%}
body, header, nav, section, footer, h1, h2, h3, h4, h5, h6, p, span, div, ul, li, img, label, input, textarea {margin: 0; padding: 0; line-height: 1;}
a {text-decoration: none; color: inherit;}
li {list-style: none;}
