/* reset */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html, body { width: 100%; height: 100%; }

body, header, nav, section, footer, h1, h2, h3, h4, h5, h6, p, span, div, ul, li, img, label, input, textarea { margin: 0; padding: 0; line-height: 1; }

a { text-decoration: none; color: inherit; }

li { list-style: none; }

/* @ */
/* layout */
body { position: relative; background: url(../img/bg_grid.png); font-family: 'Noto Sans KR', sans-serif; color: #666; }

.scl { overflow: hidden; }

/* #header */
#header { position: absolute; top: 0; left: 0; width: 18.75%; height: 100%; }
#header nav { position: fixed; z-index: 10; display: none; position: fixed; left: 0; width: 100%; height: 100%; background: #fff; }
#header nav ul { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }
#header nav ul li { padding: 25px 0; }
#header nav ul li a { z-index: 11; display: inline-block; position: relative; font-size: 40px; font-weight: 400; }
#header nav ul li span { -webkit-transition: all 0.2s; transition: all 0.2s; position: absolute; width: 40px; height: 40px; border-radius: 20px; background: rgba(242, 96, 82, 0); }
#header nav ul li:nth-of-type(1) span { left: -10px; }
#header nav ul li:nth-of-type(2) span { left: 37px; }
#header nav ul li:nth-of-type(3) span { left: 10px; }
#header nav ul li:hover span { background: rgba(242, 96, 82, 0.25); }
#header .menu-icon { width: 100%; padding: 100px 0; height: 420px; }
#header .menu-icon div { margin: 0 auto; width: 160px; }
#header .menu-icon div .menu-ani { z-index: 20; display: block; position: relative; width: 25px; height: 25px; }
#header .menu-icon div .menu-ani span { display: block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all 0.5s; transition: all 0.5s; height: 3px; border-radius: 3px; background: #25141a; color: transparent; }
#header .menu-icon div .menu-ani span::before, #header .menu-icon div .menu-ani span::after { content: ''; position: absolute; left: 0; -webkit-transition: all 0.5s; transition: all 0.5s; width: 100%; height: 3px; background: #25141a; }
#header .menu-icon div .menu-ani span::before { top: -9px; }
#header .menu-icon div .menu-ani span::after { top: 9px; }
#header .menu-icon div .on span { background: rgba(37, 20, 26, 0); }
#header .menu-icon div .on span::before { top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
#header .menu-icon div .on span::after { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.side, #contents { top: 0; left: 0; }

/* .side */
.side { position: fixed; width: 18.75%; height: 100%; background: #fff; -webkit-box-shadow: 10px 0 25px rgba(204, 204, 204, 0.25); box-shadow: 10px 0 25px rgba(204, 204, 204, 0.25); }

/* side-r */
#contents { position: absolute; width: 100%; height: 100%; /* .shortcut */ /* intro */ /* about */ /* contact */ /* footer */ }
#contents .shortcut { z-index: 1; position: fixed; top: 100px; right: 100px; width: 100px; }
#contents .shortcut li { padding-top: 10px; text-align: right; }
#contents .shortcut li:first-child { padding: 0; }
#contents .shortcut li a { display: inline-block; height: 100%; font-size: 15px; font-weight: 400; }
#contents .shortcut li a::after { display: inline-block; content: ''; margin-left: 10px; width: 15px; height: 15px; border-radius: 15px; background: #ddd; -webkit-transition: all 0.2s; transition: all 0.2s; }
#contents .shortcut li a:hover::after { background: #f26052; }
#contents #intro { position: relative; padding: 100px 0; height: 420px; }
#contents #intro::after { display: block; content: ''; clear: both; }
#contents #intro header, #contents #intro .cont { float: left; height: 100%; }
#contents #intro header { width: 18.75%; }
#contents #intro header ul { margin: 0 auto; width: 160px; }
#contents #intro header ul li { padding-top: 28px; }
#contents #intro header ul li:nth-of-type(1) { padding-top: 53px; }
#contents #intro header ul li .main-tit { display: block; }
#contents #intro header ul li .main-tit h1 { font-size: 30px; font-weight: 400; line-height: 40px; }
#contents #intro header ul li .main-img { display: block; height: 160px; }
#contents #intro header ul li p { font-size: 14px; font-weight: 300; line-height: 25px; }
#contents #intro header ul li p strong { font-weight: 500; }
#contents #intro .cont { position: relative; width: 81.25%; }
#contents #intro .cont .wrap { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 1120px; text-align: center; }
#contents #intro .cont .wrap h2 { padding-bottom: 100px; width: 100%; font-size: 75px; font-weight: 200; line-height: 90px; }
#contents #intro .cont .wrap h2 strong { font-weight: 400; }
#contents #intro .cont .wrap .mouse { position: relative; margin: 0 auto; width: 30px; height: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 2px solid #666; border-radius: 15px; }
#contents #intro .cont .wrap .mouse .scroller { position: absolute; top: 75%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 8px; height: 8px; border-radius: 8px; background-color: #f26052; -webkit-animation-name: scroll; animation-name: scroll; -webkit-animation-duration: 1.2s; animation-duration: 1.2s; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }
@-webkit-keyframes scroll { 0% { top: 25%; }
  100% { bottom: 25%; } }
@keyframes scroll { 0% { top: 25%; }
  100% { bottom: 25%; } }
#contents #about { position: relative; padding: 100px 0; height: 955px; }
#contents #about::after { display: block; content: ''; clear: both; }
#contents #about .sec-tit, #contents #about .cont { float: left; height: 100%; }
#contents #about .sec-tit { width: 18.75%; }
#contents #about .sec-tit h2 { margin: 0 auto; width: 160px; font-size: 30px; font-weight: 400; color: #f26052; }
#contents #about .cont { position: relative; width: 81.25%; }
#contents #about .cont .wrap { margin: 0 auto; width: 1120px; }
#contents #about .cont .wrap > ul::after { display: block; content: ''; clear: both; }
#contents #about .cont .wrap > ul > li { float: left; padding: 50px; background: rgba(242, 200, 196, 0.25); }
#contents #about .cont .wrap > ul > li:nth-of-type(1), #contents #about .cont .wrap > ul > li:nth-of-type(2) { width: 440px; }
#contents #about .cont .wrap > ul > li:nth-of-type(2) { float: right; }
#contents #about .cont .wrap > ul > li:nth-of-type(3) { margin-top: 40px; width: 1020px; }
#contents #about .cont .wrap > ul > li .tit { padding-bottom: 32.5px; width: 100%; }
#contents #about .cont .wrap > ul > li .tit div { height: 30px; padding-bottom: 10px; }
#contents #about .cont .wrap > ul > li .tit div img { vertical-align: middle; }
#contents #about .cont .wrap > ul > li .tit h3 { font-size: 25px; font-weight: 400; }
#contents #about .cont .wrap > ul > li p { font-size: 18px; font-weight: 200; line-height: 35px; }
#contents #about .cont .wrap > ul .skills { clear: both; }
#contents #about .cont .wrap > ul .skills ul { padding: 0; }
#contents #about .cont .wrap > ul .skills ul li { text-align: left; }
#contents #about .cont .wrap > ul .skills ul li p { padding: 0; font-weight: 300; line-height: 1; }
#contents #about .cont .wrap > ul .skills ul li p span { font-weight: 200; }
#contents #about .cont .wrap > ul .skills ul li .progressbar { margin: 10px 0 20px 0; height: 20px; background: #fff; border-radius: 10px; -webkit-box-shadow: 0 0 10px rgba(242, 200, 196, 0.5); box-shadow: 0 0 10px rgba(242, 200, 196, 0.5); }
#contents #about .cont .wrap > ul .skills ul li .progressbar div { height: 100%; background: #f2c8c4; border-radius: 10px; }
#contents #about .cont .wrap > ul .skills ul li .progressbar .skill1 { -webkit-animation: progress1 2s ease-out; animation: progress1 2s ease-out; width: 75%; }
@-webkit-keyframes progress1 { 0% { width: 0%; }
  100% { width: 75%; } }
@keyframes progress1 { 0% { width: 0%; }
  100% { width: 75%; } }
#contents #about .cont .wrap > ul .skills ul li .progressbar .skill2 { -webkit-animation: progress2 2s ease-out; animation: progress2 2s ease-out; width: 75%; }
@-webkit-keyframes progress2 { 0% { width: 0%; }
  100% { width: 75%; } }
@keyframes progress2 { 0% { width: 0%; }
  100% { width: 75%; } }
#contents #about .cont .wrap > ul .skills ul li .progressbar .skill3 { -webkit-animation: progress3 2s ease-out; animation: progress3 2s ease-out; width: 25%; }
@-webkit-keyframes progress3 { 0% { width: 0%; }
  100% { width: 25%; } }
@keyframes progress3 { 0% { width: 0%; }
  100% { width: 25%; } }
#contents #about .cont .wrap > ul .skills ul li .progressbar .skill4 { -webkit-animation: progress4 2s ease-out; animation: progress4 2s ease-out; width: 25%; }
@-webkit-keyframes progress4 { 0% { width: 0%; }
  100% { width: 25%; } }
@keyframes progress4 { 0% { width: 0%; }
  100% { width: 25%; } }
#contents #about .cont .wrap > ul .skills ul li .progressbar .skill5 { -webkit-animation: progress5 2s ease-out; animation: progress5 2s ease-out; width: 80%; }
@-webkit-keyframes progress5 { 0% { width: 0%; }
  100% { width: 80%; } }
@keyframes progress5 { 0% { width: 0%; }
  100% { width: 80%; } }
#contents #about .cont .wrap > ul .skills ul li .pgb5 { margin-bottom: 0; }
#contents #contact { position: relative; padding: 100px 0; height: 435px; }
#contents #contact::after { display: block; content: ''; clear: both; }
#contents #contact .sec-tit, #contents #contact .cont { float: left; height: 100%; }
#contents #contact .sec-tit { width: 18.75%; }
#contents #contact .sec-tit h2 { margin: 0 auto; width: 160px; font-size: 30px; font-weight: 400; color: #f26052; }
#contents #contact .cont { position: relative; width: 81.25%; }
#contents #contact .cont .wrap { margin: 0 auto; width: 1120px; }
#contents #contact .cont .wrap > div { padding: 50px; background: rgba(242, 242, 242, 0.5); }
#contents #contact .cont .wrap > div .tit { padding-bottom: 32.5px; width: 100%; }
#contents #contact .cont .wrap > div .tit div { height: 30px; padding-bottom: 10px; }
#contents #contact .cont .wrap > div .tit div img { vertical-align: middle; }
#contents #contact .cont .wrap > div .tit h3 { font-size: 25px; font-weight: 400; }
#contents #contact .cont .wrap > div ul { width: 100%; }
#contents #contact .cont .wrap > div ul::after { display: block; content: ''; clear: both; }
#contents #contact .cont .wrap > div ul li { float: left; }
#contents #contact .cont .wrap > div ul li:nth-of-type(2) { float: right; }
#contents #contact .cont .wrap > div ul li:nth-of-type(3) { margin-top: 20px; width: 100%; }
#contents #contact .cont .wrap > div ul li label { text-indent: 10px; }
#contents #contact .cont .wrap > div ul li label input, #contents #contact .cont .wrap > div ul li label textarea { border: none; border-radius: 15px; -webkit-box-shadow: 0 0 10px #f0f0f0; box-shadow: 0 0 10px #f0f0f0; }
#contents #contact .cont .wrap > div ul li label input::-webkit-input-placeholder, #contents #contact .cont .wrap > div ul li label textarea::-webkit-input-placeholder { color: #999; text-indent: 10px; }
#contents #contact .cont .wrap > div ul li label input:-ms-input-placeholder, #contents #contact .cont .wrap > div ul li label textarea:-ms-input-placeholder { color: #999; text-indent: 10px; }
#contents #contact .cont .wrap > div ul li label input::-ms-input-placeholder, #contents #contact .cont .wrap > div ul li label textarea::-ms-input-placeholder { color: #999; text-indent: 10px; }
#contents #contact .cont .wrap > div ul li label input::placeholder, #contents #contact .cont .wrap > div ul li label textarea::placeholder { color: #999; text-indent: 10px; }
#contents #contact .cont .wrap > div ul li label input { width: 485px; height: 30px; }
#contents #contact .cont .wrap > div ul li label textarea { width: 100%; height: 200px; resize: none; }
#contents footer { padding: 25px 0; width: 100%; text-align: center; background: #fff; -webkit-box-shadow: -10px 0 25px rgba(204, 204, 204, 0.25); box-shadow: -10px 0 25px rgba(204, 204, 204, 0.25); }
#contents footer p { font-size: 13px; font-weight: 200; color: #666; }

/*# sourceMappingURL=style.css.map */