/* reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {margin: 0; padding: 0; color: #666; font-family: 'Noto Sans KR', sans-serif;}
h1, h2, h3, h4, h5, h6, p, textarea {margin: 0; padding: 0; line-height: 1;}
ul {margin: 0; padding: 0;}
a {text-decoration: none; color: #666;}
li {list-style: none;}

/* @ */
@mixin clear {
  &:after {display: block; content: ''; clear: both;}
}

/* header */
header {padding: 25px 0; width: 100%; background: #fff; border-bottom:1px solid #eee;
  .inner {@include clear; margin: 0 auto; width: 1120px;
    > a {float: left; display: block; width: 50px; height: 50px; background: url(../img/logo.jpg) no-repeat center; background-size: 50px 50px;
      h1 {text-indent: -9999%;}
    }
    nav {float: right;
      ul {@include clear;
        li {float: left; padding:0 25px;
          a {font-size: 18px; line-height: 50px;}
        }
      }
    }
  }
}

/* main */
main {position: relative; width: 100%;
  #intro {position: relative; height: 700px; text-align: center;
    img {width:100%; min-width:320px; max-width:1920px;}
    h2 {text-indent: -9999%;}
    h3 {animation: pst 1s ease-out, opc 1s ease-out; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 40px; font-weight: 300; line-height: 55px;
      strong {font-weight: 400;}
    }
    // animation
    @keyframes pst {
      0% {top: 60%;}
      100% {top: 50%;}
    }
    @keyframes opc {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  }
  #about, #portfolio, #contact {
    .inner {margin: 0 auto; padding: 100px 0 0 0; width: 1120px; text-align: center;
      h2 {padding-bottom: 50px; font-size: 30px; font-weight: 400; text-align: center; color: #a3654e;
      &::after {display: block; content: ''; margin: 0 auto; margin-top: 20px; width: 30px; height: 2px; background: #a3654e;}
      }
    }
  }
  #about {
    .inner {@include clear;
      > div {padding: 50px 0;
        .tit {padding-bottom: 32.5px;
          div {height: 30px; padding-bottom: 10px;
            img {vertical-align: middle;}
          }
          h3 {font-size: 25px; font-weight: 400;}
        }
        p {font-size: 18px; font-weight: 200; line-height: 35px;}
      }
      .profile, .certificates {float: left; width: 50%; margin-bottom: 2px;}
      .skills {clear: both;
        ul {padding: 0;
          li {text-align: left;
            p {padding: 0; font-weight: 300; line-height: 1;
              span {font-weight: 200;}
            }
            .progressbar {margin: 10px 0 20px 0; height: 20px; background: rgba(163,101,78,0.1); border-radius: 10px;
              .progress {height: 100%; background: #a3654e; border-radius: 10px;}
              .html {animation: progresshtml 2s ease-out; width: 75%;}
              // animation
              @keyframes progresshtml {
                0% {width: 0%;}
                100% {width: 75%;}
              }
              .css {animation: progresscss 2s ease-out; width: 75%;}
              // animation
              @keyframes progresscss {
                0% {width: 0%;}
                100% {width: 75%;}
              }
              .js {animation: progressjs 2s ease-out; width: 25%;}
              // animation
              @keyframes progressjs {
                0% {width: 0%;}
                100% {width: 25%;}
              }
              .jq {animation: progressjq 2s ease-out; width: 25%;}
              // animation
              @keyframes progressjq {
                0% {width: 0%;}
                100% {width: 25%;}
              }
              .adobe {animation: progressadobe 2s ease-out; width: 80%;}
              // animation
              @keyframes progressadobe {
                0% {width: 0%;}
                100% {width: 80%;}
              }
            }
            .pgb5 {margin-bottom: 0;}
          }
        }
      }
    }
  }
  #portfolio {
      ul {width: 100%;
        li {@include clear; position: relative; padding: 100px; margin-top: 2px;
          .txt {text-align: left;
            .txt_tit {position: relative;
              &:after {display: block; content: ''; margin: 25px 0; width:100%; height: 1px; background: #ccc;}
                h3 {padding-bottom: 10px; font-size: 50px; font-weight: 400; color: #333;}
                p {padding-bottom: 25px; font-size: 40px; font-weight: 200; color: #333;}
                span {font-size: 18px; font-weight: 200; color: #666;}
            }
            .txt_cont {
              p {padding-top:10px; font-weight: 200;}
            }
            a {position: absolute; bottom: 100px; display: block; width:100px; padding: 5px 10px; border: 1px solid rgba(163,101,78,0.5); background: #fff; text-align: center;
              span {font-size: 18px; font-weight: 300; color: #a3654e;}
            }
            a:hover {animation: bg 0.2s ease-out; background: rgba(163,101,78,0.1);
              // animation
              @keyframes bg {
                0% {background: #fff;}
                100% {background: rgba(163,101,78,0.1);}
              }
            }
          }
          .device {position: relative;
            .screen {animation: screenon 1s ease-out; position: absolute; top: 15px;}
            // animation
            @keyframes screenon {
              0% {opacity: 0;}
              100% {opacity: 1;}
            }
          }
        }
        .dvc_plc_r {
          .txt {float: left;}
          .device {float: right;
            .screen {right: 15px;}
          }
        }
        .dvc_plc_l {
          .txt {float: right;}
          .device {float: left;
            .screen {left: 15px;}
          }
        }
      }
  }
  #contact {background: rgba(163,101,78,0.05);
    .inner {padding-bottom: 100px;
      .contact {padding: 50px;
            ul{margin: 0 auto; width:50%; border: 1px solid #555;
              li{font-size: 13px;
                label {text-indent: 13px;
                  input, textarea {border: 1px solid #ccc;}
                }
              }
            }
      }
    }
  }
}

/* footer */
footer {padding: 25px 0; width: 100%; text-align: center;
  p {font-size: 13px; font-weight: 200; color: #666;}
}
