/* reset */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body { margin: 0; padding: 0; color: #666; font-family: 'Noto Sans KR', sans-serif; }

h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; line-height: 1; }

ul { margin: 0; padding: 0; }

a { text-decoration: none; color: #666; }

li { list-style: none; }

/* @ */
/* header */
header { padding: 25px 0; width: 100%; background: #fff; border-bottom: 1px solid #eee; }
header .inner { margin: 0 auto; width: 1120px; }
header .inner:after { display: block; content: ''; clear: both; }
header .inner > a { float: left; display: block; width: 50px; height: 50px; background: url(../img/logo.jpg) no-repeat center; background-size: 50px 50px; }
header .inner > a h1 { text-indent: -9999%; }
header .inner nav { float: right; }
header .inner nav ul:after { display: block; content: ''; clear: both; }
header .inner nav ul li { float: left; padding: 0 25px; }
header .inner nav ul li a { font-size: 18px; line-height: 50px; }

/* main */
main { position: relative; width: 100%; }
main #intro .inner, main #about .inner, main #profile .inner, main #contact .inner { margin: 0 auto; width: 1120px; text-align: center; }
main #intro { height: 700px; background: url(../img/img_main.png) no-repeat center; }
main #intro .inner { position: relative; height: 100%; }
main #intro .inner h2 { text-indent: -9999%; }
main #intro .inner h3 { -webkit-animation: pst 1s ease-out, opc 1s ease-out; animation: pst 1s ease-out, opc 1s ease-out; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 40px; font-weight: 300; line-height: 55px; }
main #intro .inner h3 strong { font-weight: 400; }
@-webkit-keyframes pst { 0% { top: 60%; }
  100% { top: 50%; } }
@keyframes pst { 0% { top: 60%; }
  100% { top: 50%; } }
@-webkit-keyframes opc { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes opc { 0% { opacity: 0; }
  100% { opacity: 1; } }
main #about .inner, main #profile .inner, main #contact .inner { padding: 100px 0 0 0; }
main #about .inner h2, main #profile .inner h2, main #contact .inner h2 { padding-bottom: 50px; font-size: 30px; font-weight: 400; text-align: center; }
main #about .inner:after { display: block; content: ''; clear: both; }
main #about .inner > div { padding: 50px; background: rgba(241, 234, 228, 0.25); }
main #about .inner > div .tit { padding-bottom: 32.5px; }
main #about .inner > div .tit div { height: 30px; padding-bottom: 10px; }
main #about .inner > div .tit div img { vertical-align: middle; }
main #about .inner > div .tit h3 { font-size: 25px; font-weight: 400; }
main #about .inner > div p { font-size: 18px; font-weight: 200; line-height: 35px; }
main #about .inner .profile, main #about .inner .certificates { float: left; width: 40.98214285714%; margin-bottom: 2px; }
main #about .inner .profile { border-right: 1px solid #fff; }
main #about .inner .certificates { border-left: 1px solid #fff; }
main #about .inner .skills { clear: both; }
main #about .inner .skills ul { padding: 0; }
main #about .inner .skills ul li p { padding: 0; font-weight: 300; line-height: 1; }
main #about .inner .skills ul li p span { font-weight: 200; }
main #about .inner .skills ul li .progressbar { margin: 10px 0 20px 0; height: 20px; background: #fff; border-radius: 10px; }
main #about .inner .skills ul li .progressbar .progress { height: 100%; background: #d9c6b8; border-radius: 10px; }
main #about .inner .skills ul li .progressbar .html { -webkit-animation: progresshtml 2s ease-out; animation: progresshtml 2s ease-out; width: 75%; }
@-webkit-keyframes progresshtml { 0% { width: 0%; }
  100% { width: 75%; } }
@keyframes progresshtml { 0% { width: 0%; }
  100% { width: 75%; } }
main #about .inner .skills ul li .progressbar .css { -webkit-animation: progresscss 2s ease-out; animation: progresscss 2s ease-out; width: 75%; }
@-webkit-keyframes progresscss { 0% { width: 0%; }
  100% { width: 75%; } }
@keyframes progresscss { 0% { width: 0%; }
  100% { width: 75%; } }
main #about .inner .skills ul li .progressbar .js { -webkit-animation: progressjs 2s ease-out; animation: progressjs 2s ease-out; width: 25%; }
@-webkit-keyframes progressjs { 0% { width: 0%; }
  100% { width: 25%; } }
@keyframes progressjs { 0% { width: 0%; }
  100% { width: 25%; } }
main #about .inner .skills ul li .progressbar .jq { -webkit-animation: progressjq 2s ease-out; animation: progressjq 2s ease-out; width: 25%; }
@-webkit-keyframes progressjq { 0% { width: 0%; }
  100% { width: 25%; } }
@keyframes progressjq { 0% { width: 0%; }
  100% { width: 25%; } }
main #about .inner .skills ul li .progressbar .adobe { -webkit-animation: progressadobe 2s ease-out; animation: progressadobe 2s ease-out; width: 80%; }
@-webkit-keyframes progressadobe { 0% { width: 0%; }
  100% { width: 80%; } }
@keyframes progressadobe { 0% { width: 0%; }
  100% { width: 80%; } }
main #about .inner .skills ul li .pgb5 { margin-bottom: 0; }
main #profile ul { width: 100%; }
main #profile ul li { position: relative; padding: 100px; margin-top: 2px; background: #f9f9f9; }
main #profile ul li:after { display: block; content: ''; clear: both; }
main #profile ul li .txt { text-align: left; }
main #profile ul li .txt .txt_tit { position: relative; }
main #profile ul li .txt .txt_tit:after { display: block; content: ''; margin: 25px 0; width: 100%; height: 1px; background: #ccc; }
main #profile ul li .txt .txt_tit h3 { padding-bottom: 10px; font-size: 50px; font-weight: 400; color: #333; }
main #profile ul li .txt .txt_tit p { padding-bottom: 25px; font-size: 40px; font-weight: 200; color: #333; }
main #profile ul li .txt .txt_tit span { font-size: 18px; font-weight: 200; color: #666; }
main #profile ul li .txt .txt_cont p { padding-top: 10px; font-weight: 200; }
main #profile ul li .txt a { position: absolute; bottom: 100px; display: block; width: 100px; padding: 5px 10px; border: 1px solid rgba(199, 181, 145, 0.5); background: #fff; text-align: center; }
main #profile ul li .txt a span { font-size: 18px; font-weight: 200; color: #c7b591; }
main #profile ul li .txt a:hover { -webkit-animation: bg 0.2s ease-out; animation: bg 0.2s ease-out; background: #fbf5e9; }
@-webkit-keyframes bg { 0% { background: #fff; }
  100% { background: #fbf5e9; } }
@keyframes bg { 0% { background: #fff; }
  100% { background: #fbf5e9; } }
main #profile ul li .txt a:hover span { -webkit-animation: txtcolor 0.2s ease-out; animation: txtcolor 0.2s ease-out; color: #666; }
@-webkit-keyframes txtcolor { 0% { color: #c7b591; }
  100% { color: #666; } }
@keyframes txtcolor { 0% { color: #c7b591; }
  100% { color: #666; } }
main #profile ul li .device { position: relative; }
main #profile ul li .device .screen { -webkit-animation: screenon 1s ease-out; animation: screenon 1s ease-out; position: absolute; top: 15px; }
@-webkit-keyframes screenon { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes screenon { 0% { opacity: 0; }
  100% { opacity: 1; } }
main #profile ul .dvc_plc_r .txt { float: left; }
main #profile ul .dvc_plc_r .device { float: right; }
main #profile ul .dvc_plc_r .device .screen { right: 15px; }
main #profile ul .dvc_plc_l .txt { float: right; }
main #profile ul .dvc_plc_l .device { float: left; }
main #profile ul .dvc_plc_l .device .screen { left: 15px; }
main #contact .inner { padding-bottom: 100px; }
main #contact .inner .contact { padding: 50px; background: rgba(251, 245, 233, 0.25); }

/* footer */
footer { padding: 25px 0; width: 100%; background: #f9f9f9; text-align: center; }
footer p { font-size: 13px; font-weight: 200; color: #666; }

/*# sourceMappingURL=style.css.map */